<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- https://www.baeldung.com/logback -->
    <!-- https://docs.spring.io/spring-boot/docs/1.5.x/reference/html/howto-logging.html -->
<!--    <root level="info">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
</configuration>